{
    "token": "your-token",
    "dbFileName": "sqlite-database-file-name",
    "defaultPrefix": "default-prefix",
    "discordbotsToken": "discordbots.org-token",
    "discordbotspwToken": "bots.discord.pw-token"
}